[uwsgi]
base = /var/www/html/test_flask_app
app = run
module = %(app)

home =%(base)/venv
pythonpath = %(base)

socket = %(base)/socket.sock

chmod-socket = 777

processes = 2

threads = 2

harakiri = 15

callable = app

logto = /var/www/html/test_flask_app/log/%n.log